
        .grid-wrapper {
            align-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns for desktop */
            gap: 40px;
            padding: 20px;
            max-width: 1500px;
            margin: 0 auto;
        
        }


        .content-1, .content-2 {
            display: flex;
            flex-direction: column;
            justify-content: top;
        }

        .content-1 h2, .content-1 h4 {
            text-align: left;
            max-width: 730px;
        }

        .content-1 h2 {
            color: #F27405
        }

        .content-1 h4 {
            color: #FFFFFF;
        }
        .content-1 button {
            width: 150px;
            height: 50px;
            margin-top: 20px;

        }
        .content-1 .button:hover {
            color: #a4a4a4;
            transition: color 0.3s ease, text-decoration 0.3s ease;
            cursor: pointer;
        }

        .content-2 img {
            max-width: 500px;
            height: auto;
            border-radius: 10%;
            border: #f25c5c 3px solid;
        }

        .external_links{
            padding: 20px;
            cursor: pointer;
            display:flex;
            gap: 20px;
            justify-content: flex-start;
            max-width: 1500px;
            margin: 0 auto;            
        }

        .external_links a img{
            width: 40px;
            height: auto;
            margin-bottom: 3rem;
        }
        .external_links a img:hover {
            transform: scale(1.05);
        }

        /* Desktop layout */
        @media (min-width: 769px) {
            .content-2{
                padding-top: 50px;
            }
            .content-1 button{
                align-self: left;
            }
            .external_links{
                justify-content: flex-start;
                
            }
        }


        /* Mobile layout */
        @media (max-width: 768px) {
            .grid-wrapper {
                grid-template-columns: 1fr; /* Single column for mobile */
                grid-template-rows: auto auto;
            }

            .content-1 {
                order: 1; /* Ensure text appears first */
            }
            .content-1 button{
                align-self: center;
            }

            .content-2 {
                order: 2; /* Image comes second */
            }
            .content-2 img {
                max-width: 90%;
                align-self: center;
            }
            .external_links{
                justify-content: center;
            }
        }
        /* External links alignment for large desktops */
        @media (min-width: 1501px) {
            .external_links{
                justify-content: flex-start; /*left justify for large desktops*/
            }
        }
